$select-box-background: #1956A5;
$choice-background: #1C62BF;
$choice-text: #FFFFFF;
$choice-border: #FFFFFF;

body {
  background-color: $select-box-background;
}

.text-center {
  text-align: center;
}

#header {
  padding: .5em;
  color: white;
  a {
    text-decoration: none;
    color: white;
    &.route--active {
      font-weight: bold;
      color: white;
    }
  }
}

#select-box {
  padding: 0 .3em;
  .choice  {
    box-sizing: border-box;
    width: 33.333%;
    padding: .6em;
    display: inline-block;
    &> div {
      border-radius: 5px;
      border: 2px solid $choice-border;
      background-color: $choice-background;
      color: $choice-text;
      font-size: 2em;
      padding: .3em 0;
      cursor: pointer;
      &.coffee {
        background: $choice-background url('images/coffee.png') no-repeat center center;
        background-size: 25px 25px;
      }
    }
  }
}

#ready-to-reveal {
  background-color: $select-box-background;
  cursor: pointer;
  padding: 120px 0;
  font-size: 100px;
  color: $choice-text;
}

#reveal-card {
  background-color: $select-box-background;
  cursor: pointer;
  color: $choice-text;
  &.size-1 { padding: 30px 0; font-size: 280px; }
  &.size-2 { padding: 60px 0; font-size: 200px; }
  &.size-3 { padding: 90px 0; font-size: 150px; }
  &.size-emoji { padding: 80px 0; font-size: 150px; }
  &.size-coffee {
    padding: 80px 0;
    margin: 0 auto;
    height: 350px;
    background: url('images/coffee.png') no-repeat center center;
    background-size: 200px 200px;
  }
}
